.header{
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    justify-content: space-evenly;
    padding: 11px 99px 15px;
}
.header-left{
    display: flex;
}
.header-left img{
    width: 42.54px;
    height: 41.81px;
}
.header-text{
    margin-left: 3px;
}
.header-text h3{
    width: 193.32px;
    color: rgb(227, 31, 31);
font-family: Cambria;
font-size: 19px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}
.header-text p{
    color: rgb(73, 73, 73);
font-family: SF Pro Display;
font-size: 14.6px;
font-weight: 500;
line-height: 17px;
letter-spacing: 10%;
text-align: center;
}
 
.katalo{
    width: 200px;
height: 40px;
margin-left: 29px;
background: rgb(250, 87, 87);
display: flex;
gap: 14px;
justify-content: center;
align-items: center;
}
.katalo img{
    width: 25px;
    height: 13px;
}
.katalo p{
    color: rgb(255, 255, 255);
font-family: SF Pro Display;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
/* ----------cent------------------------ */

.header-cent{
    display: flex;
    margin-left: 29px;
}
.header-cent input{
    width: 318px;
height: 40px;
box-sizing: border-box;
border: 1px solid rgb(206, 205, 205);
}
.search{
    width: 42px;
height: 40px;
box-sizing: border-box;
border: 1px solid rgb(206, 205, 205);
background: rgb(236, 236, 236);
display: flex;
justify-content: center;
align-items: center;
}

/* ------------right----------- */

.header-right{
    display: flex;
    margin-left: 40px;
}


.net{
    display: flex;
    gap: 18px;
}
.net img{
    width: 42px;
height: 42px;
}
.teleg{
    width: 42px;
        height: 42px;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
        background: rgb(39, 172, 201);
}
.teleg img{
    width: 28.94px;
    height: 24.94px;
}

.whats{
    width: 42px;
    height: 42px;
    display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 50%;
        background: rgb(72, 193, 98);
}
.whats img{
    width: 28.91px;
    height: 24.94px;
}

.net2{
    display: flex;
    gap: 18px;
    margin-left: 60px;
}
.conect{
    width: 42px;
height: 42px;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1.83px solid rgb(192, 192, 192);
border-radius: 50%;
}
/* ----------------down---------------------- */
.down{
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    justify-content: space-evenly;
    padding: 22px 99px 26px;
}
ul{
    width: 1440px;
    display: flex;
    justify-content: space-around;
}
a{
    list-style: none;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
