.sub h3{
    width: 342px;
    color: rgb(51, 51, 51);
    font-family: SF Pro Display;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.sub p{
    width: 452px;
    color: rgb(51, 51, 51);
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}
.email{
    display: flex;
    align-items: center;
}
.email h3{
    color: rgb(51, 51, 51);
    font-family: SF Pro Display;
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.email button{
    margin-left: 21px;
    width: 189px;
    height: 50px;
    border: none;
    background: rgb(245, 85, 85);
    color: rgb(255, 255, 255);
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.email input{
    border: none;
    border-bottom: 1px solid #ff4d4f; /* Красная линия */
    outline: none;
    padding: 4px 0;
    font-size: 16px;
    width: 399px;
}

.pol{
    margin-top: 39px;
    display: flex;
    background: rgb(255, 255, 255);
    justify-content: space-around;
}